.button-toggle {
    width: 123px;
    background-color: #ECF0F1;
    height: 35px;
}

.clicked {
    background-color: #B3B6B7;
    color: #FFF;
}

.button-toggle:hover {
    background-color: #D0D3D4;
}