<h2 class="ml-4 mt-4">List of Observable Implementations</h2>
<hr class="m-2">
<div class=" m-4 row">

  <!--12 is there in one line-->
  <div class="col-sm-3 mt-2">
    <div class="card bg-light text-dark rounded-3 border border-info display-flex align-items-center">
      <div class="card-body">
        <h5 class="card-title">From Event</h5>
        <a routerLink="from-event" class="btn btn-primary">Click Here</a>
      </div>
    </div>
  </div>

  <div class="col-sm-3 mt-2">
    <div class="card bg-light text-dark rounded-3 border border-info display-flex align-items-center">
      <div class="card-body">
        <h5 class="card-title">Interval</h5>
        <a routerLink="interval" class="btn btn-primary">Click Here</a>
      </div>
    </div>
  </div>

  <div class="col-sm-3 mt-2">
    <div class="card bg-light text-dark rounded-3 border border-info display-flex align-items-center">
      <div class="card-body">
        <h5 class="card-title">Of and From</h5>
        <a routerLink="of-from" class="btn btn-primary">Click Here</a>
      </div>
    </div>
  </div>

  <div class="col-sm-3 mt-2">
    <div class="card bg-light text-dark rounded-3 border border-info display-flex align-items-center">
      <div class="card-body">
        <h5 class="card-title">To Array</h5>
        <a routerLink="to-array" class="btn btn-primary">Click Here</a>
      </div>
    </div>
  </div>

  <div class="col-sm-3 mt-2">
    <div class="card bg-light text-dark rounded-3 border border-info display-flex align-items-center">
      <div class="card-body">
        <h5 class="card-title">Custom Observable</h5>
        <a routerLink="custom-observable" class="btn btn-primary">Click Here</a>
      </div>
    </div>
  </div>

</div>