<h2 class="ml-4 mt-4">Retry</h2>
<hr class="mt-2 mx-2">
<div class="row w-100 pl-4">
    <div class="col-sm-6 center">
        <h5 class="ml-2 mt-2">Retry</h5>
        <hr class="mx-1">
        <button class="btn btn-info ml-4 mb-2" type="button" (click)="getCoffeeWithRetry()">
            <span *ngIf="loading1" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
            {{loading1 ? "" : "Load Random Jokes"}}
        </button>
        <br>
        <span class="ml-4"
            [ngClass]="message1 === 'Facing issue while loading...' ? 'text-danger' : message1 === 'Loaded.' ? 'text-success' : 'text-secondary'">
            <strong>{{message1}}</strong>
        </span>
        <span *ngIf="loading1" class="spinner-border spinner-border-sm ml-2 text-secondary" role="status"
            aria-hidden="true"></span>
        <hr class="mx-1">
        <div class="row p-1">
            <div class="card col-6 p-2" [ngClass]="!joke.safe ? 'border-warning' : 'border-light'"
                *ngFor="let joke of jsonRes1">
                <h5 class="card-header">{{joke.category}}</h5>
                <div class="card-body">
                    <h5 class="card-title">{{joke.setup}}</h5>
                    <p class="card-text">{{joke.delivery}}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 center">
        <h5 class="ml-2 mt-2">RetryWhen</h5>
        <hr class="mx-1">
    </div>
</div>