<h2 class="mt-4 ml-4">From Event</h2>
<hr class="mx-2 mb-4 mt-2">
<div class="row mx-2">
    <div class="col-sm-8 mb-4 p-2 center ml-4">
        <span class="ml-4">Enter your work items: </span>
        <input class="form-control w-25 mt-2 ml-4" type="text" [(ngModel)]="inputData" placeholder="Enter here...">
        <button type="button" #enter class="btn btn-outline-success mt-2 ml-4">Enter</button>
        <br>
        <hr>
        <p class="ml-4"><strong>Selected list box is: </strong>{{defaultListSel}}</p>
        <button type="button" class="btn btn-primary ml-4" (click)="defaultListSel='dot-net'">Dot NET</button>
        <button type="button" class="btn btn-secondary ml-4" (click)="defaultListSel='angular'">Angular</button>
        <button type="button" class="btn btn-info ml-4" (click)="defaultListSel='sql-server'">SQL Server</button>
        <button type="button" class="btn btn-warning ml-4" (click)="defaultListSel='java'">Java</button>
    </div>
    <div class="col-sm-5 pb-2 list-group ml-4">
        <div class="card-header">
            <strong>Dot NET</strong>
        </div>
        <ul id="dot-net">
        </ul>
    </div>
    <div class="col-sm-5 pb-2 list-group ml-4">
        <div class="card-header">
            <strong>Angular</strong>
        </div>
        <ul id="angular">
        </ul>
    </div>
    <div class="col-sm-5 pb-2 list-group ml-4">
        <div class="card-header">
            <strong>SQL Server</strong>
        </div>
        <ul id="sql-server">
        </ul>
    </div>
    <div class="col-sm-5 pb-2 list-group ml-4">
        <div class="card-header">
            <strong>Java</strong>
        </div>
        <ul id="java">
        </ul>
    </div>
</div>